:root {
    --bg-color: white;
    --text-color: black;
    --primary-color: #4a7c59;
    --details-color: #8fc0a9;
    --details2-color: #b1d3c4;
}

*::-webkit-scrollbar {
    display: none; /* Per Chrome, Safari e Edge */
}

button {
    cursor: pointer;
}


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: sans-serif;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0;
}

header h2 {
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 500;
   
}

header span {
    color: var(--primary-color);
    font-weight: bolder;
}
header img {
    margin: 20px 20px 0;
    height: 60px;    
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 5px 0;
    color: white;
    font-weight: 600;
    font-size: 14px;
}


main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    border-radius: 20px;
}

.container h2, .form-container h2 {
    font-size: 2.5rem;
    margin: 20px 20px 0;
    color: var(--primary-color);
}

.sign-in-button {
    padding: 15px 30px;
    background-color: rgba(255, 255, 255, 0.316);
    border: 3px solid var(--primary-color);
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-color);
    transition: background-color 0.3s;
}

.sign-in-button:hover {
    background-color: var(--primary-color);
    color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    width: 100%;
    max-width: 300px;
    gap: 30px;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: left;
    margin-bottom: 1rem;
}

.form-section label {
    font-weight: bold;
    font-size: 1rem;
    text-align: left;
    color: var(--text-color);
}

.form-section input {
    border: 2px solid var(--primary-color);
    padding: 12px;
    border-radius: 30px;
}

.form-container button {
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 30px;
    border: 3px solid var(--primary-color);
    padding: 10px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.8s ease;
    margin-top: 0.8rem;
}

.form-container button:hover{
    background-color: var(--details2-color);
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
}

.dashboard-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    margin-top: 20px;
}

.links-grid-wrapper {
    background-color: #f9f9f9;
    padding: 0.5rem;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 60%;
    gap: 30px;
    border: 3px solid var(--primary-color);
}

.links-header {
    display: grid;
    grid-template-columns: 6% 20% 48% 5% 5% 5%;
    gap: 1rem;
    padding: 1rem 2rem 1rem;
    background-color: #4a7c59;
    border-radius: 15px 15px 0 0;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.links-grid {
    display: grid;
    grid-template-columns: 6% 20% 48% 5% 5% 5%;
    gap: 1rem;
    padding: 1rem;
    max-height: 60vh;
    overflow: auto;
    background-color: #eaf4ed;
    border-radius: 0 0 15px 15px;
    align-items: center;
    justify-content: space-between;
}

.grid-element {
    border: 1px solid #d1e2d9;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    font-size: 0.95rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.grid-element:hover {
    transform: scale(1.02);
}

.grid-button {
    color: white;
    border-radius: 50%;
    font-weight: bold;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.grid-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.flash {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 25px;
    background-color: #db2619; /* Rosso intenso */
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    animation: fade-in 0.5s ease-out;
    z-index: 9999;
}

.flash p {
    margin: 0;
    font-weight: bold;
}

.flash button {
    background-color: white;
    color: #f44336;
    border: none;
    border-radius: 10px;
    padding: 6px 10px;
    font-size: 0.7rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.6s;
}

.flash button:hover {
    transform: scale(1.1);
}

.logout {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    background-color: #f44336; /* Rosso intenso */
    color: white;
    border-radius: 10px;
    border: 2px solid #f44338;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.6s;
}

.logout:hover {
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.6s;
    transform: translate(10px, -10px); /* Add this line */
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Adattamenti per dispositivi medi */
@media (max-width: 1024px) {
    .dashboard-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .links-grid-wrapper {
        max-width: 90%;
    }

    .form-container {
        max-width: 40%;
    }
}

/* Adattamenti per dispositivi piccoli (tablet e smartphone) */
@media (max-width: 768px) {
    .links-grid-wrapper {
        max-width: 80%;
    }

    .links-header {
        grid-template-columns: 10% 30% 60%;
        padding: 0.5rem 1rem 0.5rem;
        gap: 0.5rem;
        font-size: 0.9rem;
    }

    .links-grid {
        grid-template-columns: 10% 25% 60%;
        padding: 1rem;
        gap: 0.5rem;
        font-size: 0.9rem;
    }

    .links-header div,
    .grid-element {
        padding: 0.8rem;
    }

    .grid-button, .space {
        display: none;
    }

    .form-container {
        margin-bottom: 50px;
    }    
}

/* Adattamenti per dispositivi molto piccoli */
@media (max-width: 480px) {
    .links-header, .links-grid {
        grid-template-columns: 10% 85%;
        gap: 0.3rem;
        font-size: 0.8rem;
    }

    .grid-button {
        width: 25px;
        height: 25px;
        font-size: 0.7rem;
    }

    .links-header div,
    .grid-element {
        padding: 0.5rem;
    }

    .form-container {
        max-width: 80%;
    }

    .form-container h2 {
        font-size: 2rem;
    }

    .form-container button {
        font-size: 0.9rem;
        padding: 8px;
    }

    .form-section input {
        padding: 10px;
        font-size: 0.85rem;
    }

    #hidden {
        display: none;
    }
}
