<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='media/qr.png') }}" type="image/x-icon">

    {% if css_file is not none %}
        <link rel="stylesheet" href="{{ url_for('static', filename=css_file) }}">
    {% endif %}
</head>
<body>
    <header>
        <a href="/">
            <img src="{{ url_for('static', filename='/media/logo.png') }}" alt="logo" />
        </a>
        {% if g.user %}
            <div class="user_true">
                <h2><strong><</strong> Welcome <span>{{ g.user['username'] }}</span>! <strong>/></strong></h2>
                <form  action="/private/logout" method="POST">
                    <button class="logout-button" type="submit"><i class='bx bx-log-out'></i></button>
                </form>
            </div>
        {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="flash {{ category }}" id="flash-{{ loop.index }}"> 
                    <p>{{ message|capitalize }} </p>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
        // Get all flash messages
        const flashMessages = document.querySelectorAll('.flash');
        
        // Loop through each flash message
        flashMessages.forEach((message) => {
            // Set a timeout to remove the message after 5 seconds (5000 ms)
            setTimeout(function () {
                message.style.transition = "opacity 1s";
                message.style.opacity = "0";  // Fading out the message
                setTimeout(function () {
                    message.remove();  // Remove the message from the DOM
                }, 1000); // Time to wait for the fade out effect
            }, 2000);  // 5 seconds delay before disappearing
        });
    });
    </script>
</body>
</html>