<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='/media/logo.png') }}" alt="logo" />
        {% if g.user %}
            <h2><strong><</strong> Welcome <span>{{ g.user['username'] }}</span>! <strong>/></strong></h2>
        {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
        {% for message in get_flashed_messages() %}
            <div class="flash">
                <p>{{ message }}</p>
                <button onclick="hideFlash()">OK</button>
            </div>
        {% endfor %}
    </main>
    <footer>
        <p>&copy; 2023 Powered by Isabella Cappellino & Marin Cervinschi</p>
    </footer>
    <script>
        function hideFlash() {
            const flash = document.querySelector('.flash');
            if (flash) {
                flash.style.display = 'none';
            }
        }
    </script>
</body>
</html>