{% extends "base.html" %}
{% block content %}
<div class="dashboard-container">
    <div class="links-grid-wrapper">
        <div class="links-header">
            <div>ID</div>
            <div>INTERNAL</div>
            <div id="hidden">EXTERNAL</div>
            <div class="space"></div>
            <button id="add_button" class="add"><i class='bx bx-add-to-queue'></i></button>
        </div>

        <div class="grid">
            {% for link in links %}
            <form class="links-grid" method="POST" action="">
                <input type="text" class="grid-element" id="id" name="id" value="{{ link.id }}">
                <a class="grid-element" href="{{link.external}}">{{link.internal}}</a>
                <input type="button" class="grid-element" id="external" name="external" value="{{link.external}}">
                <button type="submit" class="grid-button" style="background-color: red;" data-action="/delete">
                    <i class='bx bx-trash-alt'></i>
                </button>
                <button type="submit" class="grid-button" style="background-color: green;" data-action="/edit">
                    <i class='bx bx-pencil'></i>
                </button>
                <button type="submit" class="grid-button" style="background-color: blue;" data-action="/qr">
                    <i class='bx bx-qr-scan'></i>
                </button>
            </form>
            {% endfor %}
        </div>

        <div class="popUp" id="add_form">
            <div class="form-container">
                <span id="close_button" class="close-popup-btn">&times;</span>
                <h2>Add link</h2>
                <form method="POST" action="/private/dashboard/add">
                    <div class="form-section">
                        <label for="internal">Internal</label>
                        <input type="text" id="internal" name="internal" required>
                    </div>
                    <div class="form-section">
                        <label for="external">External</label>
                        <input type="text" id="external" name="external" required>
                    </div>
                    <button type="submit">ADD</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% endblock %}