<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if error == '404' %} 404 - Page not found {% elif error == '401' %} 401 - Not authorized {% endif %}
     </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
</head>
<body>
    <div class="container">
        <svg class="error-image" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 8V12M12 16H12.01M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <h1>{{ error }}</h1>
        <h2>{% if error == '404' %}Page not found{% elif error == '401' %}Unauthorized{% endif %}</h2>
        <p>{% if error == '404' %}The page you're looking for doesn't exist or has been moved.
            {% elif error == '401' %}You do not have permission to access this page.{% endif %}</p>
    </div>
</body>
</html>